<% provide(:title, 'All users') %>
<h1>First name</h1>

<ul class="users">
  <%= render @users_name %>
</ul>


<h1>Last name</h1>

<ul class="users">
  <%= render @users_last %>
</ul>

<h1>Email</h1>

<ul class="users">
  <%= render @users_email %>
</ul>


<h1>phone</h1>

<ul class="users">
  <%= render @users_phone %>
</ul>

<h1>User Post</h1>

<ul class="microposts">
  <%= render @user_post %>
</ul>
