<% provide(:title, 'All users') %>
<h3>First name</h3>

<ul class="users">
  <%= render @users_name %>
</ul>


<h3>Last name</h3>

<ul class="users">
  <%= render @users_last %>
</ul>

<h3>Email</h3>

<ul class="users">
  <%= render @users_email %>
</ul>


<h3>phone</h3>

<ul class="users">
  <%= render @users_phone %>
</ul>

<h3>User Post</h3>

<ul class="microposts">
  <%= render @user_post %>
</ul>
